/**
/ CHANGES BY TEAM #oSoc15 - CHRISTOPHE LEROY
/ Updated by Umut Saglam Sept. 2015
*/

/**
 * Clearfix
 */

.sf-menu:before,
.sf-menu:after,
.region-footer:before,
.region-footer:after,
.cf:before,
.cf:after{
    content: " "; /* 1 */
    display: table; /* 2 */
}

.sf-menu:after,
.region-footer:after,
.cf:after{
    clear: both;
}

/**
 * Error block
 */
 .error {
	 display: none;
 }
 

/**
 * Styles
 */

html{
    color: #1D384C;
	height: 100%;
}

a{
    text-decoration: underline;
    color: #2B5791;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

.l-page{
    margin: 0 auto;
    width: 100%;
    background-color: #FFF;
	display: table;
	height: 100%;
}

.l-content > h1{
    display: none;
}

.l-content .content{
    width: 100%;
    max-width: 60.625em;
    margin: 0 auto;
    padding: 0;
}

.content, .main-content{
    max-width: 60.625em;
    margin: 0 auto;
}

#skip-link{
    display: none;
}

.region-header {
    max-width: 60.625em;
    margin: 0 auto;
    position: relative;
}

#block-menu-menu-header-menu,
#block-search-form {
    display: inline-block;
   position: absolute;
}

#block-search-form {
   right: 0;
   top: 2em;
   width: 190px;
}

#block-menu-menu-header-menu {
   text-align: right;
   right: 200px;
}

#logo{

}


.l-header{
    overflow: hidden;
}

.header__logo{
    margin: 0 !important;
    width: 40%;
    float: left;
    display: inline-block;
	height: 7em;
}

.header__logo p#middlepiece{
    margin: 0;
    text-align: center;
    position: relative;
    width: 367px;
    background: url('../images/main/logo.svg') no-repeat center center;
    background-size: 11em;
    background-position-y: 1.85em;
	height: 120px;
	right: 14.5em;
}

/*
.header__logo p:before{
    content: ' ';
    position: absolute;
    top: 25px;
    right: 367px;
    width: 999px;
    height: 45px;
    background: #003167;
}
*/

.header__logo p#beforepiece{
    content: ' ';
    position: relative;
    right: 15em;
	top: -15px;
	float:left;
    width: 6.8em;
    height: 120px;
    background: url('../images/main/logoBefore.jpg');
}

.header__logo p#beforepiece:before{
    content: ' ';
    position: relative;
    background: #003167;
    float: left;
    top: 1.55em;
    width: 2999px;
    height: 45.2px;
    right: 187em;
}

.header__logo p#afterpiece{
    content: ' ';
    position: relative;
    right: 4em;
    bottom: 8.5em;
    float: left;
    width: 6.8em;
    height: 120px;
    background: url('../images/main/logoAfter.jpg');
}

.header__logo p#afterpiece:after{
    content: ' ';
    position: absolute;
    top: 25px;
    left: 95px;
    width: 2999px;
    height: 45px;
    background: #ffcd00;
}

.header__menu{
    width: 50%;
    height: 45px;
    max-width: 60.625em;
    margin: 0;
    margin-top: 25px;
    display: inline-block;
}

    .header__menu ul {
        text-align: right;
    }

.header__menu h2{
    display: none;
}

.header__menu ul{
    margin: 0;
    padding-left: 0;
}

.header__menu li{
    display: inline-block;
    height: 45px;
    margin: 0px;
    padding: 0px;
}

.header__menu li a,
.header__menu li a:active,
.header__menu li a:visited{
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-size: 15px;
    color: #003067;
}

.header__menu li a:hover,
.header__menu li a:focus
{
    color: white;
    background: #003067;
}

.header__menu li.leaf:first-child a {
    font-size: 1.1em;
    font-weight: bold;
}

@media (max-width: 1440px){
	
    .header__logo p#middlepiece{
		right: 4.5em;
	}
	
	.header__logo p#beforepiece {
		right: 5.5em;
	}
	
	.header__logo p#afterpiece {
		right: -12.5em;
		float: none;
	}
}

@media (max-width: 768px){
    .header__menu{
        padding: 0 0.9375em;
        margin-top: 0px;
        width: 100%;
        display: block;
    }
	
	#block-search-form {
		position: relative;
		left: 3em;
	}
}

li.leaf{
    list-style: none !important;
}

.header__menu li.leaf {
    margin-left: 0;
}

.header__menu .last.leaf{
    padding-right: 1em;
}

.header__menu a, .header__menu a:visited, .header__menu a:active{
    color: #4C3705;
    text-decoration: none;
    font-size: 0.7em;
}

.header__menu a:hover{
    color: #FFF;
}

.top-container{
    max-width: 60.625em;
    margin: 0 auto;
}

@media (max-width: 40em){
    .top-container{
        margin-bottom: 0px;
    }
}

#homelighted{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 40em){
    #homelighted{
        display: block;
    }
}

#lefthigh{
    width: 50%;
    margin: 0 auto 2.1875em auto;
}

#righthigh{
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 40em){
    .customlighted{
        width: 100% !important;
    }
}

.home__intro{
    padding: 0 1em;
    margin: 0;
}

@media (max-width: 40em){
    .home__intro{
        width: 80%;
        position: initial;
    }
}

.home__intro h2, .home__intro .node-readmore{
    display: none;
}

.searchbox{
    margin-left: 1em;
}

    @media (max-width: 40em){
        .searchbox{
        width: 100%;
        position: initial;
        margin: 0;
        padding: 0 1em;
    }
}

.searchbox input {
    height: 2em;
    border: none;
    float: left;
}

.searchbox .form-text{
    width: calc(100% - 2.5em);
    padding: .125em .3125em;
    color: #084892;
    font-weight: bold;
}

.searchbox .form-text:focus{
    border: .1em #084892 solid;
    box-shadow: none;
    outline-color: transparent;
    outline-style: none;
}

.searchbox .form-submit{
    border: none;
    width: 2.5em;
    background-color: #084892;
    color: #FFF;
    font-family: fontawesome;
}

.home__spotlight{
    width: 70%;
    background-color: #003067;
    color: white;
    padding: 30px;
    margin: auto;
    height: 100%
}

@media (max-width: 40em){
    .home__spotlight{
        width: 100%;
        position: initial;
        margin: 0 !important;
        padding: 30px 0.9375em !important;
    }
}

.home__spotlight h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
}

.home__spotlight a {
    color: #d2d9e1;
    margin-left: 0;
    font-size: 18px;
    font-weight: lighter;
}

.home__spotlight a:hover,
.home__spotlight a:focus{
    color: #fff;
}

.home__spotlight ul{
    padding: 0;
    margin-bottom: 0;
}

.home__spotlight li.leaf{
    margin-left: 0;
}

@media (max-width: 40em){
    .home__spotlight li.leaf{
        padding: .4em 0 0 0;
    }
}

#page__contents{
    max-width: 60.625em;
    width:100%;
    margin: 0 auto;
    padding: 0 0 1em 0;
}

#block-superfish-1{
    min-height: 50%;
    height: 100%;
    width: 100%;
    background-color: #084892;
}

#block-superfish-1 h2{
    display: none;
}

#block-superfish-1 ul{
    margin-top: 0;
    width: 100%;
    padding: 2.2em 1em;
}

.sf-menu .content-menu__item{
    font-size: larger;
    font-weight: bold;
    float: none;
}

@media (min-width: 40em){
    .content-menu{
        width: 100%;
        margin: 0
    }

    .sf-menu .content-menu__item{
        width: 33%;
        margin: 0;
        float: left;
        padding-right: 1em;
    }
}

.content-menu__link{
    color: white !important;
    text-decoration: none;
}

.content-menu li{
    margin-top: .8em !important;
}

.content-menu__link .sf-title{
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.2em;
}

.content-menu__link .sf-description{
    font-size: initial;
    font-weight: initial;
    display: block;
    margin-top: .8em;
    margin-bottom: 1.9em;
    line-height: 1.2em;
    opacity: .8;
}

    .content-menu__link:hover .sf-description {
        opacity: 1;
    }

#first-time{
    display: none;
}

.l-footer{
    width: 100%;
    background-color: #003067;
    margin: 0 auto;
    font-weight: lighter;
	display: table-row;
	height: 1px;
}

@media (max-width: 48em){
    .l-footer{
        padding-top: 1em;
    }

    .l-footer *{
        float: none !important;
    }
}

.region-footer{
    min-height: 30%;
    height: auto;
    width: 100%;
    max-width: 60.625em;
    margin: 0 auto;
    padding: 2.2em 1em;
}

@media (max-width: 48em) {
    .region-footer{
        margin: 0 auto;
        padding-top: 1em;
    }
}

.footer__copyright{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #fff;
    float: left;
    opacity: .6;
}

@media (max-width: 48em){
    .footer__copyright *{
        margin: 0;
    }
}

.footer__partners{
    float: right;
}

.footer__partners .content p{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 48em){
    .footer__partners .content p{
        width: 100%;
        min-width: initial;
    }
}

.footer__logo{
    height: 2em;
    width: auto;
    display: inline-block;
    margin: 0 1.9em;
    opacity: 0.5;
}

@media (max-width: 48em){
    .footer__logo{
        display: block;
        margin: 1em auto;
    }
}

#iminds_logo{
    margin: 0 auto;
    margin-bottom: 1em;
    height: 1.6em;
}

#elis_logo{
    margin-bottom: 1em;
}

#ugent_logo{
    height: 3.6em;
}

/*-----*/

.region-sidebar-first{
    float:left;
    padding-right: 1em;
    width: 20%;
    min-width: 10em;
}

    @media (max-width: 40em){
        .region-sidebar-first{
            display: none;
        }
    }

#block-superfish-2 div.content{
    padding: 0;
}

#block-superfish-2{
    background-color: #003067;
}

.content-menu--side__item{
    margin: 0 !important;
    min-height: 2em;
    vertical-align: middle;
}

.content-menu--side__link{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: .1em solid transparent;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.content-menu--side__link.active, .content-menu--side__link.active:hover{
    background-color: #ffcd00;
    color: black;
}

.content-menu--side__link:hover{
    background-color: #ffcd00;
    opacity: 0.7;
    color: black;
}

/*-------------*/

#page__contents:before, #page__contents:after{
    display:table;
}

#class-content{
    max-width: calc(100% - 10em);
    width: 80%;
    float: left;
    padding-left: 1em;
}

    @media(max-width: 40em){
        #class-content{
            max-width: 100%;
			width: 92%
		}
    }

#page__focus{
    max-width: 60.625em;
    margin: 0 auto;
}

.breadcrumb{
    padding-left: 1em;
}

.content-menu--side__arrow{
    height: 1em;
    position: absolute;
    top: calc(50% - .5em);
    right: .5em;
}

.breadcrumb a{
    color: #021829;
}

.breadcrumb__delimiter{
    font-size: 1.2em;
    opacity: .4;
    position: relative;
    top: .1em;
    padding: 0 .2em;
}

.biblio-export{
    color: #1D384C;
}

    @media (max-width: 40em){
        .biblio-export{
            text-align: left;
            float: none;
        }
    }

.biblio-alpha-line a{
    text-decoration: none;
    opacity: .7;
    font-weight: bold;
}

.biblio-alpha-line a:hover{
    color: #0E202D;
    opacity: .9;
}

.biblio-separator-bar{
    background: none;
    border: none;
    font-size: 1.2em;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: .1em solid #758490;
}

.biblio-entry{
    padding: .5em 0;
    line-height: 1.4em;
    margin: 0;
}

.view-research .view-content .item-list ul li {
    list-style: none;
    margin: .5em 0;
    font-weight: bold;
}

.item-list ul li {
    list-style-type: none;
}

ul.tabs{
    border: none;
}

ul.tabs li{
    border: .1em #CCC solid;
    border-right: 0;
    padding: .5em 1em;
    display: inline-block;
}

ul.secondary a.active{
    border-bottom: none;
}

ul.tabs li.active{
    background-color: #084892;
}

ul.tabs li.active .b{
    color: white;
}

ul.tabs li.active .b img{
    margin-left: .5em;
}

ul.tabs.secondary li:last-child{
    border-right: .1em #ccc solid;
}

ul.tabs{
    border: none;
    margin-left: 0;
    padding-left: 0;
}

@media (max-width: 40em){
	ul.secondary.tabs li{
		padding: .5em;
		font-size: .8em;
	}
}
/* Don't know why this is in here, but it f*cks up all other bullet lists */
/*ul{
    list-style: none;
}*/

.sf-menu li{
    float: none;
}

h1{
    margin: 0 0 .67em 0;
}

tr.even, tr.odd{
    background-color: transparent;
}

/**
 * Main menu
 */
#block-system-main-menu h2 {
    display: none;
}

#block-system-main-menu {
    min-height: 50%;
    height: 100%;
    width: 100%;
    background-color: #084892;
}

#block-system-main-menu li {
    list-style-type: none;
    list-style-image: none;
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
}

#block-system-main-menu li a{
	color:white;
	font-size: 0.95em;
}

#block-system-main-menu .views-field span a{
	text-decoration: none; 
	font-size: 0.85em;
}

#block-system-main-menu li.first.last.leaf.menu-views {
    font-size: 0.7em !important;
    width: 100%;
    margin-top: -2.5em;
    margin-left: -1.4em;
	opacity: .8;
}

#block-system-main-menu ul.menu {
    margin-top: 0;
    width: 100%;
    padding: 2.2em 1em;
	margin-right: -2em;
}

#block-system-main-menu ul.menu:after {
    content: ' ';
	clear: both;
    display: table;
}

#block-system-main-menu .views-field.views-field-title {
    padding-bottom: 0.6em;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

#block-system-main-menu .views-field.views-field-title:hover {
    font-weight: bold;
}

#block-system-main-menu .view-header p a{
	text-decoration: none; 
	font-size: 0.85em;
}

.contextual-links-region .view-header {
    margin-top: -1em;
}

#block-system-main-menu .view-header:hover {
    font-weight: bold;
}

@media(min-width: 40em){
	
	#block-system-main-menu ul.menu {
		margin-right: 0em;
	}
	
	#block-system-main-menu li{
		width: 33%;
		float: left;
		padding-right: 1em;
	}
	
	#block-system-main-menu li a{
		font-size: inherit;
	}
	
	#block-system-main-menu .views-field span a {
		font-size: inherit;
	}
	
	#block-system-main-menu .view-header p a{
		font-size: inherit;
	}
 }

/* ---- Team page ---- */

.team-list ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.team-list ul li {
    display: inline-block;
    width: 20%;
    margin-bottom: 2em;
    overflow: auto;
    vertical-align: top;
}


.wrapper_team{
    float:none !important;
}
.team-list ul li > * {
    float: left;
}

.views-field-picture {
    margin-right: 1em;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    background-color: #CCCCDF ;
    margin-bottom: .5em;
}

.user-picture img{
    min-width: 100px;
    min-height: 100px;
    max-width: none;
    position: relative;
    z-index: 1;
}

.views-field-picture:after {
    content: "\f007";
    font-family: fontawesome;
    color: white;
    font-size: 500%;
    display: block;
    width: 64px;
    margin-top: 10px;
    position: absolute;
    z-index: 0;
    left: calc(50% - 64px / 2);
}

.views-field-name{
    width: 50%;
}
.views-field-field-job-title{
    width: 40%; /* should always be a little less wide when compared to the name of the person */
}

.views-field-name a.username {
    text-decoration: none;
    font-weight: 600;
}
/* ---- User field icons ---- */

.field-name-field-email a:before {
    font-family: FontAwesome;
    content: '\f0e0';
    padding-right: 0.5em;
	color: #003067;
}

.field-name-field-fax .field-item:before  {
    font-family: FontAwesome;
    content: '\f1ac';
    padding-right: 0.5em;
	color: #003067;
}

.field-name-field-phone .field-item:before {
    font-family: FontAwesome;
    content: '\f098';
    padding-right: 0.5em;
	color: #003067;
}

.field-name-field-twitter .field-item:before {
    font-family: FontAwesome;
    content: '\f081';
    padding-right: 0.5em;
	color: #003067;
}

.field-name-field-linkedin a:before {
    font-family: FontAwesome;
    content: '\f08c';
    padding-right: 0.5em;
    color: #003067;
}

/* ---- Team responsive ---- */

@media (max-width: 60em) {
    .team-list ul li {
        display: inline-block;
        width: 45%;
        margin-bottom: 2em;
        overflow: auto;
    }
    .team-list ul li > * {
        float: none;
    }
    .views-field-name{
        width: 100%;
    }
    .views-field-field-job-title{
        width: 100%; /* should always be a little less wide when compared to the name of the person */
    }
}

/* ---- Detail pages ---- */

td {
    padding: 0.4em 1em 0.4em 0;
    vertical-align: top;
}

td p {
    margin: 0;
}

/* ---- Tabs & Submit button ---- */

ul.primary li.active a, ul.primary li a, ul.primary li a:hover{
    background-color: transparent;
    border: 0;
}

ul.tabs.primary li.active{
    border-color: #084892 ;
}

ul.tabs.primary li.active a{
    color: #FFF;
}

ul.primary li a{
    margin-right: 0;
    color: #1D384C;
    padding: 0;
}

#page__contents input#edit-submit.form-submit{
    border: none;
    background-color: #084892;
    color: #FFF;
    padding: .2em .5em;
    font-weight: bold;
    font-size: .8em;
}

span.b, ul.tabs.primary li a{
    color: #1D384C;
}

ul.tabs.primary li.active a:hover, ul.tabs.secondary li.active a:hover {
    color: #fff;
}
ul.tabs.primary li a:hover, ul.tabs.secondary li a:hover {
    color: #084892;
    text-decoration: underline;
}

ul.primary.tabs{
    border: none;
    margin-left: 0;
    padding-left: 0;
    overflow: auto;
}

ul.primary.tabs li{
    border: .1em #CCC solid;
    float: left;
    border-right-width: 0;
}

ul.primary.tabs li:last-child{
    border-right-width: .1em;
}

/* ---- Pagination ---- */

.item-list ul.pager{
    margin: 1em 0;
}

/* --- Bottom borders --- */

.node-teaser {
    border-bottom: .1em solid #ccc;
    padding-bottom: 1em;
}

.view-content div.node-biblio {
    border-bottom: .1em solid #758490;
    padding-bottom: 1em;
}

.view-content h2 {
    font-size: 1.1em;
}

@media (max-width:50em) {
	.view-content h2 {
		max-width: 50%;
	}
}

/* ---- Projects overview page ---- */
.view-projects .field-name-field-logo img{
    float: right;
    min-height:3em;
    max-height: 3em;
    min-width:10em;
    max-width:15em;
    margin-top: -2.6em;
    margin-bottom:-1em;
}

.view-projects .field-item p{
    padding-top:1em !important;
}

/* ---- People views ---- */

#group-people .view-content {
    display: flex;
    width: 45%;
    margin: 1em;
}

@media (max-width:40em){
	#group-people .view-content {
		display: block;
	}
}


/* ---- Projects detail pages ---- */

.group-left-side {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.node-project .field-name-field-logo img{
    width: auto;
    height: auto;
}

.group-context{
    display: table;
    border: .1em solid #ccc;
    padding: .5em;
    float: right;
    width: calc(50% - 1em);
    margin-right: 1em;
    vertical-align: top;
    word-break: break-all;
}

div.group-context:only-of-type {
    float: none;
}

.group-context .field{
    display: table-row;
    font-size: .9em;
}

.group-context .field-label, .group-context.field-items{
    display: table-cell;
}

.group-context .field-label {
    width: 6em;
    padding-right: .5em;
    word-break: break-word;
}

.group-context .field-items {
    width: calc(100% - 6em);
}

/* ---- General changes to detail pages ---- */

ul.links.inline li.node-readmore{
    display: none;
}

/* ---- User profile styling ---- */
.user-picture{
    float:right;
    display:inline-block;
    vertical-align:top;
}

.field-name-field-first-name{
    float:left;
    margin-right: 3px;
}

.field-name-field-first-name,
.field-name-field-last-name {
    font-weight: bold;
}

.group-user-content{
    display:block;
    width:100%;
}

.profile h3{
    border-bottom:none !important;
}

.profile h2.group-subtitle.field-group-html-element {
    font-weight: 400;
    margin-top: -0.8em;
}

/* ---- Responsive menu ---- */

@media (max-width: 48em) {
    .region-header {
        position: static;
        float: left;
    }

    .block-search {
        position: static;
    }

    #block-menu-menu-header-menu .content {
        position: relative;
    }

    #block-menu-menu-header-menu ul.menu{
        position: relative;
        top: 1.55em;
    }
}

@media (max-width: 40em){
    #block-menu-menu-header-menu ul.menu {
        position: absolute;
        width: 300px;
        right: -215px;
        top: 70px;
    }
}


/* ---- Biblio details | Appendix ---- */

.group-biblio-context.field-group-div {
    display: table;
    width: 100%;
    margin-bottom: 1em;
}

.group-biblio-context.field-group-div .field {
    display: table-row;
    background: transparent;
    padding: 0.1em 0.6em;
}

.group-biblio-context.field-group-div .field .field-label {
    display: table-cell;
    padding: 0.4em 1em 0.4em 0;
    vertical-align: top;
    width: 6.188em;
    font-weight: normal;
    border-bottom: .1em solid #ccc;
}

.group-biblio-context.field-group-div .field .field-items {
    display: table-cell;
    vertical-align: top;
    border-bottom: .1em solid #ccc;
    float: none;
    width: 100%;
    padding-top: .5em;
}

div.node-biblio ul.links.inline li {
    display: none;
}

/* ---- biblio teaser hide title ---- */
/*
.view-publications-per-event .node-biblio,
.view-user-publications .node-biblio,
.view-publications-per-research-topic .node-biblio{
    margin-bottom: 1em;
}
.view-publications-per-event .node-biblio h2,
.view-user-publications .node-biblio h2,
.view-publications-per-research-topic .node-biblio h2{
    display:none;
}
*/
.view-content .node-biblio .content {
    padding-top: 1em;
}

.view-content .node-biblio h2 {
    display: none;
}

/* ---- Conferences and workshops styling ---- */
#views-exposed-form-conferences-and-workshops-page .views-submit-button{
    padding: 0!important;
    margin-top: 0.4em;
}

.views-widget-sort-by label,
.views-widget-sort-order label{
    float:left !important;
    margin-right:0.5em;
    margin-top:0.2em;
}

.groupShortLoc {
    display: inline-flex;
}

.groupShortLoc .field-name-field-short-name {
    font-weight: bold;
    padding-right: 1em;
}

/* ---- Event and project page styling ---- */

.group-event-content{
    max-width:40%;
    display:inline-block;
    float:none;
}

.node-project .field-name-field-logo img,
.field-name-field-event-logo img{
    margin-top: -2.5em;
    float:right;
    display: inline-block;
    max-height:5em;
    max-width:10em;
}


.field-name-field-description{
    margin-bottom:2em;
}


@media (max-width: 27.688em) {
    .field-name-field-event-logo img{
        /*width: 100% !important;*/
        float:none !important;
        margin-top:0em;
        margin-bottom:0em !important;
    }
}


.field-item.even img{
    height: auto;
    width: auto;
}

/*add more whitespace*/
.node-project .field-items,
.node-event .field-items{
    margin-bottom:0.5em;
}

/* ---- Responsiveness ---- */

    @media (max-width: 40em) {
        .group-left-side, .group-context {
            width: 100%;
        }
    }

/* ---- research group styling ---- */

.field-name-field-rt-description ul{
    list-style:initial;
}

.node-research-group ul{
    list-style:initial;
}

.field.field-name-field-rg-people div.field-label,
#research-wrapper div.field-label{
    margin-bottom:1em;
    margin-top:1em;
    border-top:1px solid grey;
    padding-top:0.5em;
}

/* ---- search results styling ---- */
.search-result{
    margin-bottom: 2em !important;
}

/* ---- Our company page ---- */
[placeholder] {
    padding-left: 0.3em;
}

form#webform-client-form-82 {
    display: inline-block;
    width: 22em;
	padding-top: 2em;
}

.form-item, .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline;
}

.form-item.webform-component input {
    height: 2em;
    width: 10em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
}

.form-textarea-wrapper textarea {
	width: 20.6em !important;
	height: 16.5em
}

input.webform-submit.button-primary.form-submit {
    margin-left: 13em;
    margin-top: 1em;
    height: 2em;
    background-color: #003067;
    color: white;
    border: none;
}

.field.field-name-field-google-maps {
	padding-top: 2em;
    float: right;
    position: relative;
}

input#edit-submitted-email {
    width: 20.6em;
}

@media (max-width: 956px) {
	.field.field-name-field-google-maps {
		float: left;
		padding-right: 1em;
	}
}

